@font-face {
    font-family: TT Norms;
    font-weight: 400;
    src: url('./TTNorms-Regular.eot') format('eot'), url('./TTNorms-Regular.ttf') format('ttf'), url('./TTNorms-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: TT Norms;
    font-weight: 400;
    src: url('./TTNorms-Medium.eot') format('eot'), url('./TTNorms-Medium.ttf') format('ttf'), url('./TTNorms-Medium.woff') format('woff');
    font-style: normal;
}