$white: #ffffff;
$primary: #398BFF;
$separatorColor: #E9EDF2;
$dateColor: #B7C0C8;

$sidebarBackground: #F3F6F8;
$sidebarText: #7D8790;
$sidebarHeader: #656B77;
$sidebarSubject: #35383D;
$sidebarCount: #D2D8DE;

$dialogCompanionBackground: #E9F5F4;
$dialogSelfBackground: #F6F7F9;
$dialogCompanionText: #475453;
$dialogSelfText: #474E54;
$dialogName: #000000;

$transitionTiming: 0.3s;